html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #3C4A3E;
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(to right bottom, #e12e1e, #bd6000, #907c00, #5e8d01, #05974a);
    margin: 30px 50px;
    line-height: 1.4;
}

.btn {
    background: #3C4A3E;
    color: #fafafa;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border: 0;
}

.btn:hover {
    background: #e12e1e;
    color: rgb(249, 253, 16);
    padding: 0.5rem 1rem;
    text-decoration: none;
    border: 0;
}


img {
    max-width: 100%;
}

#frame {
    display: grid;
    grid-gap: 20px;
}

/* Navigation */

#navbar {
    background: #ddd;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    display: flex;
    justify-content: space-between;
}

.navigation h5 {
    font-size: 50px;
    display: flex;
    padding-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #3C4A3E;
    margin: 0;
}

.navigation h5 img {
    padding: 0 10px;
}

#toggle {
    position: absolute;
    top: 30px;
    right: 50px;
    width: 60px;
    height: 60px;
    background: #3C4A3E;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

#toggle:before {
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: #ddd;
    transform: translateY(-5px);
    transition: 0.2s;
}

#toggle:after {
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: #ddd;
    transform: translateY(5px);
    transition: 0.2s;
}

#toggle.active::before {
    transform: translateY(0px) rotate(45deg);
}

#toggle.active::after {
    transform: translateY(0px) rotate(-45deg);
}

#toggle.active {
    background: #e12e1e;
}

#menu {
    position: relative;
    height: 60px;
    right: 60px;
    background: #ddd;
    transition: 0.5s;
    width: 0px;
    overflow: hidden;
    top: 0;
}

#menu.active {
    width: 400px;
}

#menu ul {
    position: relative;
    display: flex;
    flex-direction: row;
}

#menu ul li {
    list-style: none;
}

#menu ul li a {
    color: #3C4A3E;
    height: 60px;
    line-height: 60px;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    padding: 0 15px;
    letter-spacing: 2px;
    font-weight: bold;
}

#menu ul li a:hover {
    color: #ddd;
    background: #e12e1e;
}

/* Top Container */

.top-container {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
        'carousel-wrapper carousel-wrapper box-up'
        'carousel-wrapper carousel-wrapper box-down';
}

/* carousel-wrapper */

.carousel-wrapper {
    grid-area: carousel-wrapper;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    background: cover;
    background: #3C4A3E;
    display: grid;
    align-items: center;
}

.carousel-item img {
    background: cover;
}

/* Top box */

.top-box {
    background: #ddd;
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    padding: 1rem;
    background: cover;
}

.box-up {
    grid-area: box-up;
}

.box-down {
    grid-area: box-down;
}

.info {
    font-size: 14px;
}

/* Modal Section */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
    background-color: #ddd;
    color: #3C4A3E;
    margin: 5% auto;
    width: 50%;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    animation-name: modalopen;
    animation-duration: 1.5s;
}

.modal-header h2 {
    margin: 0;
    font-size: 30px;
}

.modal-header {
    background: #5e8d01;
    color: #ddd;
    padding: 15px;
}

.modal-body {
    padding: 10px 20px;
}

.modal-body p {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.closeBtn {
    color: #ddd;
    font-size: 30px;
}

.closeBtn:hover, .closeBtn:focus {
    color: #3C4A3E;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modalopen {
    from{ opacity: 0}
    to{ opacity: 1};
}

/* Map Section */

div#myMap {
    height: 500px;
    width: 100%;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

/* Form */

.contact-form {
    background: #ddd;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    padding: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}

.form-box {
    padding: 25px 15px;
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

form {
    padding-top: 25px;
}

.form-box h1 {
    text-align: center;
    padding-bottom: 10px;;
}

.form-box h6 {
    text-align: justify;
}

.form-box input {
    background: none;
    border: 1px solid #3C4A3E;
    border-radius: 3px;
    padding: 6px 15px;
    margin-bottom: 15px;
}

.form-box textarea {
    background: none;
    border: 1px solid #3C4A3E;
    border-radius: 3px;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #ddd;
    background-color: #3C4A3E;
    width: 100%;
}

button[type="submit"]:hover {
    background: #05974A;
    transition: .6s;
}

.form-box input::placeholder {
    color: #3C4A3E;
}

.form-box textarea::placeholder {
    color: #3C4A3E;
}

/* Footer */

footer {
    margin-top: 1rem;
    background: #3C4A3E;
    color: #ddd;
    text-align: center;
    padding: 1rem;
}

footer a {
    margin: 30px;
}

footer a i {
    color: #ddd;
    transition: all 0.3s linear;
}

footer a i:hover {
    color: rgb(249, 253, 16);
    transform: scale(1.4);
}

/* Media Queries */
@media (max-width: 768px) {

    .top-container {
        grid-template-areas: 
            'carousel-wrapper carousel-wrapper'
            'box-up box-down';
    }


    .navigation h5 {
        display: none;
    }
    
    .form-box {
        padding: 10px 5px;
        padding-top: 5px;
        margin: 0 auto;
        max-width: 90%;
    }
}

@media (max-width: 500px) {
    .top-container {
        grid-template-areas: 
        'carousel-wrapper'
        'box-up'
        'box-down';
    }

}
