html {
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    color: #3C4A3E;
}

body {
    background-image: linear-gradient(to right bottom, #e12e1e, #bd6000, #907c00, #5e8d01, #05974a);
    margin: 30px 50px;
    line-height: 1.4;
}